<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoogleMapiOSSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8DCBA0E1E263D6500DCA159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8DCBA221E263D6600DCA159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8DCBA2D1E263D6600DCA159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
